<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>OnlineQuizPortal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminAddQuestionServlet</display-name>
    <servlet-name>AdminAddQuestionServlet</servlet-name>
    <servlet-class>com.practice.AdminAddQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddQuestionServlet</servlet-name>
    <url-pattern>/AdminAddQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashboardServlet</display-name>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <servlet-class>com.practice.AdminDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <url-pattern>/AdminDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.practice.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProfileServlet</display-name>
    <servlet-name>AdminUpdateProfileServlet</servlet-name>
    <servlet-class>com.practice.AdminUpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProfileServlet</servlet-name>
    <url-pattern>/AdminUpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuizAttemptServlet</display-name>
    <servlet-name>QuizAttemptServlet</servlet-name>
    <servlet-class>com.practice.QuizAttemptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizAttemptServlet</servlet-name>
    <url-pattern>/QuizAttemptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuizChooseServlet</display-name>
    <servlet-name>QuizChooseServlet</servlet-name>
    <servlet-class>com.practice.QuizChooseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizChooseServlet</servlet-name>
    <url-pattern>/QuizChooseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDashboardServlet</display-name>
    <servlet-name>UserDashboardServlet</servlet-name>
    <servlet-class>com.practice.UserDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDashboardServlet</servlet-name>
    <url-pattern>/UserDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.practice.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistrationServlet</display-name>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <servlet-class>com.practice.UserRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <url-pattern>/UserRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewLeaderboardServlet</display-name>
    <servlet-name>ViewLeaderboardServlet</servlet-name>
    <servlet-class>com.practice.ViewLeaderboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewLeaderboardServlet</servlet-name>
    <url-pattern>/ViewLeaderboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewQuizzesServlet</display-name>
    <servlet-name>ViewQuizzesServlet</servlet-name>
    <servlet-class>com.practice.ViewQuizzesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewQuizzesServlet</servlet-name>
    <url-pattern>/ViewQuizzesServlet</url-pattern>
  </servlet-mapping>
</web-app>