<div class="text-center text-white h-100">
  <div class="container p-2 pb-4 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active portal-link" routerLink="/portal" routerLinkActive="active" aria-current="page">Portal</a>
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          <a class="nav-link" routerLink="/employees" routerLinkActive="active">employees</a>
          <!--<div class="nav-item">
            <input type="text" class="form-control" placeholder="Search">
          </div> -->
        </nav>
      </div>
    </header>
  </div><br>
  <hr class="nav-below-border"> 
</div>