<!-- home.component.html -->

<div class="mat-card">
  <div class="content">
    <div class="text">
      <div class="greeting">
        <h1>Hello,</h1>
      </div>
      <div class="intro">
        <span class="mat-body-1"
          >This is My Portfolio using Angular.
        </span>
        <span class="mat-body-1">I'm a Learner.</span>
      </div>
    </div>
    <div class="image">
      <img
        src="../../assets/images/ran-image2.jpg"
        alt="Your Image"
        class="mat-card-image"
      />
    </div>
  </div>
</div>
