<div class="container">
  <h1 class="mat-display-1">Contact me</h1>
  <br />
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Full Name</mat-label>
      <input matInput placeholder="Ex : John Doe" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Ex. abc@email.com" value="">
    </mat-form-field>
    
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Comment</mat-label>
      <textarea matInput placeholder="Ex. I want to work with you on my new project."></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary">SEND</button>
  </form>
</div>